<h1>Game score</h1>
<p>This is the score of the game</p>
<p>The grid is <%= @grid %></p>
<p>The word you wrote is '<%= @word %>'</p>
<p><%= @result %></p>
<p>Your score is: <%= @score  %></p>
<p>The total score is: <%= @total_score %></p>

<%= link_to "Play again", "/games/new" %>
